.page1 {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 40px;
  text-align: center;
}

.form button {
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4775ff;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0004ff;
}

.form .form1 {
  display: none;
}

.form select{
  width: 200px;
  height: 40px;
  border-radius: 5%;
}

body {
  background: rgb(0, 255, 200);
  background: linear-gradient(90deg, rgb(0, 238, 255) 0%, rgb(0, 238, 255) 50%);
  font-family: "Arial", sans-serif;
}

html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}